<div class='page-header d-flex justify-content-between mt-2'>
  <h3>Edit Product</h3>
  <%= link_to 'Show Product', @product, class:'btn btn-success' %>
  <%= link_to 'Cancel', products_path, class:'btn btn-default pull-right' %>
</div>

<div class='row justify-content-center'>
  <div class='col-md-6'>
    <%= render 'form', product: @product%>
  </div>
</div>
